<% title "Balises" %>

<table>
  <tr>
    <th>Code</th>
  </tr>
  <% for balise in @balises %>
    <tr>
      <td><%= balise.code %></td>
      <td><%= link_to "Show", balise %></td>
      <td><%= link_to "Edit", edit_balise_path(balise) %></td>
      <td><%= link_to "Destroy", balise, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Balise", new_balise_path(balise) %></p>
