<h1>Listing lieus</h1>

<table>
  <tr>
    <th>Lat</th>
    <th>Lng</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lieus.each do |lieu| %>
  <tr>
    <td><%= lieu.lat %></td>
    <td><%= lieu.lng %></td>
    <td><%= link_to 'Show', lieu %></td>
    <td><%= link_to 'Edit', edit_lieu_path(lieu) %></td>
    <td><%= link_to 'Destroy', lieu, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lieu', new_lieu_path %>
