<p id="notice"><%= notice %></p>

<p>
  <b>Lat:</b>
  <%= @lieu.lat %>
</p>

<p>
  <b>Lng:</b>
  <%= @lieu.lng %>
</p>


<%= link_to 'Edit', edit_lieu_path(@lieu) %> |
<%= link_to 'Back', lieus_path %>
